.embla {
    --slide-spacing: 1rem;
    --slide-size: 250px;
    --slide-height: 300px;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 250px;
    padding-left: var(--slide-spacing);
    position: relative;
  }

  /* Add Media Queries  */
  @media (max-width: 1280px) {
    .embla__slide {
        flex: 0 0 250px;
        min-width: 0;
        padding-left: var(--slide-spacing);
        position: relative;
      }
  }
  @media (max-width: 1024px) {
    .embla__slide {
      flex: 0 0 250px;
        min-width: 0;
        padding-left: var(--slide-spacing);
        position: relative;
      }
  }
  @media (max-width: 768px) {
    .embla__slide {
      flex: 0 0 33%;
        min-width: 0;
        padding-left: var(--slide-spacing);
        position: relative;
      }
  }
  @media (max-width: 640px) {
    .embla__slide {
        flex: 0 0 50%;
        min-width: 0;
        padding-left: var(--slide-spacing);
        position: relative;
      }
  }